<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="#" data-reveal-id="about-modal">
                    PHOTERRAS
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider"></li>
            <li>
                <a href="#" data-reveal-id="contact-modal">Contact Us</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" data-reveal-id="about-modal">About Us</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" data-reveal-id="faq-modal">FAQ</a>
            </li>
            <li class="divider"></li>
            {% if session.loggedIn %}
            <li class="active">
                <a href="logout.php">Logout</a>
            </li>
            {% else %}
            <li class="active">
                <a href="#" data-reveal-id="login-modal"><i class="user-icon"></i> Login</a>
            </li>
            {% endif %}
        </ul>
    </section>
</nav>
