{# Handlebar template for displaying the details of a pin #}
{% verbatim %}
<div id="content" class="map-popup">
    <div id="siteNotice">
    </div>
    <div id="bodyContent">
        <div class="row">
            <h2>{{ name }}</h2>
            <a href="#" class="th large-12 columns">
                <img src="{{ path }}">
            </a>
        </div>
    </div>
</div>
{% endverbatim %}
