<!DOCTYPE html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photerras - GO EXPLORE!</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block nav %}{{ include('_nav.twig') }}{% endblock %}
    {% block body %}{% endblock %}
    <script src="assets/js/vendor/libraries.min.js"></script>
    <script src="assets/js/vendor/foundation.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDPnJtesM2O892U3694ZjbtxcGMwWRtC9k"></script>
    <script src="assets/js/vendor/handlebars.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="assets/js/app.js"></script>
  </body>
</html>
