{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <!-- Registration form -->
        <div data-alert class="alert-box radius">
            Please provide the following information to create an account.
        </div>

        {# Breadcrumb section #}
        <ul class="breadcrumbs">
          <li><a href="/home.php">Home</a></li>
          <li class="current">User Registration</li>
        </ul>

        <form method="POST" action="registration_execute.php">
            <div class="row">
                <div class="large-12 columns">
                  <label>
                    First Name
                    <input type="text" name="fname">
                  </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                  <label>
                    Last Name
                    <input type="text" name="lname">
                  </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                  <label>
                    Email
                    <input type="text" name="email">
                  </label>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="large-12 columns">
                  <label>
                    Confirm Email
                    <input type="text">
                  </label>
                </div>
            </div>
            -->

            <div class="row">
                <div class="large-12 columns">
                  <label>
                    Username
                    <input type="text" name="username">
                  </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                  <label>
                    Password
                    <input type="password" name="password">
                  </label>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="large-12 columns">
                  <label>
                    Confirm Password
                    <input type="password">
                  </label>
                </div>
            </div>
            -->

            <div class="row">
                <ul class="button-group">
                    <li><input type="submit" class="button success" value="Register"></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}
